html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  min-height: 100vh;
  background-color: #3a3f47;
  color: white;
}

ol,
ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

h1 {
  padding: 40px 0px;
  text-align: center;
  margin: 0;
  font-size: 40px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.game__status {
  margin: 64px 0px 96px 0px;
  text-align: center;
  font-size: 28px;
}
.game__status span {
  font-size: 32px;
}
.game__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}
.game__moves {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.game__btn-move {
  border: none;
  background-color: #3a3f47;
  color: white;
  padding: 16px 16px 16px 48px;
  position: relative;
  border-radius: 10px;
  font-size: 14px;
  border: 2px solid white;
}
.game__btn-move span {
  position: absolute;
  color: #3a3f47;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
}
.game__btn-move span.X {
  background-color: #ecb365;
}
.game__btn-move span.O {
  background-color: #6a97ff;
}
.game__btn-move--start {
  padding: 16px 16px;
  color: white;
}
.game__btn-move--X {
  border: 3px solid #ecb365;
  box-shadow: 0px 3px 20px rgba(236, 179, 101, 0.5);
}
.game__btn-move--O {
  border: 3px solid #6a97ff;
  box-shadow: 0px 3px 20px rgba(106, 151, 255, 0.5);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  width: fit-content;
  border-radius: 16px;
}
.board__square {
  font-family: "Century Gothic", Futura, sans-serif;
  background-color: #eeeeee;
  border: 1px solid #bebebe;
  outline: none;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  min-width: 100px;
  padding: 0;
  text-align: center;
  margin: 8px 4px;
  position: relative;
  border-radius: 12px;
  top: 0px;
  transition: top 0.2s ease;
}
.board__square:hover {
  top: -2px;
}
.board__square:active {
  top: 4px;
}
.board__square:hover::after {
  bottom: -10px;
}
.board__square:active::after {
  bottom: -4px;
}
.board__square::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #bebebe;
  z-index: -1;
  transition: bottom 0.2s ease;
}
.board__square--X {
  color: #ecb365;
}
.board__square--O {
  color: #6a97ff;
}
.board__square--X.current {
  border: 3px solid #ecb365;
}
.board__square--X.current::after {
  background-color: #ecb365;
}
.board__square--O.current {
  border: 3px solid #6a97ff;
}
.board__square--O.current::after {
  background-color: #6a97ff;
}

.X {
  color: #ecb365;
}

.O {
  color: #6a97ff;
}

.winner {
  color: #97ff6a;
  font-weight: bold;
}
